* {
    background-color: #202020;
    color: white; 
    text-align: center;
    max-width: fit-content;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 64px;
}

a {
    font-size: 32px;
}

.center-card {
    margin-inline: auto
}

body {
    margin-inline: auto;
}